# Part 2

## Get the latitude and the longitude coordinates of each neighborhood

In [21]:
import pandas as pd
df = pd.read_csv(r'Geospatial_Coordinates.csv')
df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [22]:
df.rename(columns={'Postal Code':'PostalCode'}, inplace=True)
print(df.columns)

Index(['PostalCode', 'Latitude', 'Longitude'], dtype='object')

In [23]:
# Show the shape of the df
df.shape

(103, 3)

## Acces to the data from my Notebook_1  in a Dataframe

In [27]:
# Read the data from my Notebook_1  in a Dataframe
df1 = pd.read_csv(r'List_of_postal_codes_of_Canada.csv')
df1.head()

  PostalCode        Borough                              Neighborhood
0      M1B\n  Scarborough\n                          Malvern, Rouge\n
1      M1C\n  Scarborough\n  Rouge Hill, Port Union, Highland Creek\n
2      M1E\n  Scarborough\n       Guildwood, Morningside, West Hill\n
3      M1G\n  Scarborough\n                                  Woburn\n
4      M1H\n  Scarborough\n                               Cedarbrae\n

## Merge my dataframes

In [28]:
# Merge the dataframes
df_merg = pd.merge(df1, df, on="PostalCode", how='left')
df_merg.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B\n,Scarborough\n,"Malvern, Rouge\n",NaN,NaN
1,M1C\n,Scarborough\n,"Rouge Hill, Port Union, Highland Creek\n",NaN,NaN
2,M1E\n,Scarborough\n,"Guildwood, Morningside, West Hill\n",NaN,NaN
3,M1G\n,Scarborough\n,Woburn\n,NaN,NaN
4,M1H\n,Scarborough\n,Cedarbrae\n,NaN,NaN

In [29]:
# Show the shape of the df_merg
df_merg.shape

(103, 5)

In [31]:
# Export dataframe to a CSV file
df_merg.to_csv(r'df_final.csv', index = False)

Copyright Â© 2020 Maickery BOZOR. This notebook and its source code are released under the terms of the MIT License.